<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483879168570-a155rj6221u8f2ce156v3qq1kvar8gu0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483879168570-a155rj6221u8f2ce156v3qq1kvar8gu0</string>
	<key>API_KEY</key>
	<string>AIzaSyAKWu_RNm3iIFA016hWe8lKr-WuuNLUVDs</string>
	<key>GCM_SENDER_ID</key>
	<string>483879168570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crow.flash-chat-ios13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-c5254</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-c5254.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483879168570:ios:33f33a5cd7e4da7911a303</string>
</dict>
</plist>